.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-menu {
  background-color: $solid-color-clear;
  display: none;
  left: 0;
  list-style: none;
  padding: 0;
  position: absolute;
  top: 72px;
  width: 220px;
  z-index: 500;

  .nav-sub-url {
    color: $solid-color;
    display: block;
    font-family: $galaxy-font-family;
    font-size: 13px;
    padding: 15px 24px;
    text-decoration: none;

    &:hover {
      background-color: $third-color;
      color: $main-color;
    }
  }
}

.show {
  display: block;
}

.show-mobile {
  display: block !important;
}

.hide-button {
  display: none;
}

.show-menu-opt {
  display: block;
}

.navigation-button {
  .navigation-menu-mobile {
    background-color: $solid-color-clear;
    display: none;
    height: 500px;
    left: 0;
    padding-top: 12px;
    position: absolute;
    top: 72px;
    width: 220px;
    z-index: 500;
  }
}

.navigation-menu-mobile {
  .nav {
    display: block;
    height: 480px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0;

    .nav-list {
      align-items: stretch;
      display: block;
      font-family: $avant-font-family;
      font-size: 21px;
      margin: 0;
      padding: 0;
      text-transform: capitalize;

      &.dropdown:hover {
        background-color: $solid-color-clear;
      }

      .nav-url {
        color: $solid-color;
        padding: 13px 0 13px 24px;
        text-decoration: none;
        width: 194px;
      }

      &:focus,
      &:hover {
        background-color: $third-color;

        .nav-url {
          color: $solid-color;
        }
      }
    }
  }
}

.nav-url {
  display: inline-block;

  .fa {
    color: $main-color;
    display: inline-block;
    margin: 0;
    padding: 0;
    padding-left: 65px;
    padding-right: 12px;
    position: inherit;
  }
}

.inner-dropdown-menu {
  display: block;
  padding: 0;
  width: 100%;

  .nav-sub-url {
    color: $solid-color;
    display: block;
    font-family: $galaxy-font-family;
    font-size: 13px;
    padding: 4px 24px;
    text-decoration: none;

    &:hover {
      background-color: $third-color;
      color: $main-color;
    }
  }
}
