@media (max-width: 992px) {
  header .nav .nav-list .nav-url {
    padding: 26px 13px;
  }
}

@media (min-width: 768px) {
  .navigation-button,
  .text-mobile {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .navigation-menu,
  .logo {
    display: none !important;
  }

  .navigation-button {
    color: $solid-color-clear;
    display: block;
    padding: 20px 24px;
    width: 30px;

    .copyright {
      bottom: 0;
      color: $solid-color;
      font-family: $copyright-mobile;
      font-size: 10px;
      padding: 10px 12px 8px 24px;
      position: absolute;
      text-align: center;
    }

    span {
      cursor: pointer;
      left: 0;
      padding: 20px 24px;
      position: absolute;
      top: 0;
    }
  }

  .content-image {
    height: $content-height-mobile;

    .flying-text {
      display: none;
    }

    img {
      height: $content-height-mobile;
    }
  }

  footer {
    display: none;
  }

  .text-mobile {
    display: table-cell;
    padding: 50px 24px 0 24px;
    width: 100%;

    .flying-text-mobile {
      color: $solid-color;
      font-family: $avant-font-family;
      font-size: 50px;
      padding-bottom: 50px;
      text-align: center;
      text-transform: capitalize;
      width: 100%;
    }

    p {
      color: $solid-color;
      font-family: $galaxy-font-family;
      font-size: 16px;
      padding: 0;
      text-align: justify;
      width: 100%;
    }
  }
}
