@import '../node_modules/font-awesome/scss/font-awesome.scss';
@import 'styles/font';

$main-color: #ec008c;
$secondary-color: #eeeeee;
$third-color: rgba(0, 0, 0, .1);
$solid-color: #000000;
$solid-color-clear: #ffffff;

$avant-font-family: HUGEAvantGardeBold;
$galaxy-font-family: Galaxie;
$copyright-mobile: Helvetica Neue Regular;

$menu-height-desktop: 72px;
$menu-height-mobile: 72px;
$content-height-desktop: 600px;
$content-height-mobile: 240px;
$footer-height-desktop: 60px;


body {
  background-color: $secondary-color;
  color: $third-color;
  margin: 0;
  padding: 0;
}

header {
  background-color: $main-color;
  height: $menu-height-desktop;
  margin: 0;
  padding: 0;
  width: 100%;

  .logo {
    color: $secondary-color;
    display: inline-block;
    height: 24px;
    padding: 24px;
    width: 60px;

    img {
      background-size: cover;
      width: 100%;
    }
  }

  .navigation-menu {
    display: inline-block;
    height: $menu-height-desktop;
    position: absolute;
  }

  .nav {
    display: flex;
    flex-direction: row;
    height: $menu-height-desktop;
    margin: 0;
    padding: 0;

    .nav-list {
      align-items: stretch;
      color: $secondary-color;
      display: flex;
      font-family: $avant-font-family;
      font-size: 21px;
      margin: 0;
      text-transform: capitalize;

      .nav-url {
        color: $solid-color-clear;
        padding: 26px;
        text-decoration: none;
      }

      &:focus,
      &:hover {
        background-color: $solid-color-clear;

        .nav-url {
          color: $main-color;
        }
      }
    }
  }
}

.content-image {
  height: $content-height-desktop;
  position: relative;
  width: 100%;

  img {
    background-size: cover;
    height: $content-height-desktop;
    position: absolute;
    width: 100%;
  }

  .flying-text {
    color: $secondary-color;
    font-family: $avant-font-family;
    font-size: 100px;
    height: $content-height-desktop;
    padding-top: 200px;
    position: absolute;
    text-align: center;
    text-transform: capitalize;
    width: 100%;
    z-index: 100;
  }
}

footer {
  color: $solid-color;
  font-family: $galaxy-font-family;
  font-size: 18px;
  height: $footer-height-desktop;

  p {
    margin: 0;
    padding: 0;
    padding-top: 34px;
    text-align: center;
    width: 100%;
  }
}

.nav-menu-onclick {
  display: none;
}

@import 'styles/dropdown';
@import 'styles/responsive';
